# Web framework
fastapi==0.111.0
uvicorn==0.30.1
python-multipart==0.0.9

# Image processing
opencv-python-headless==4.9.0.80
numpy==1.26.4
Pillow==10.3.0

# Groq Vision API
httpx==0.27.0

# TTS - French / Spanish
gtts==2.5.1

# TTS - Arabic (Meta MMS offline models)
torch==2.1.2
torchvision==0.16.2
transformers==4.38.0
scipy==1.10.1
pydub

# Audio playback (simulateur PC uniquement, pas utilisé par Android)
pygame

# ESP32 simulator
requests==2.31.0
watchdog

# Utilities
python-dotenv

# Testing
pytest==8.2.0

gradio_client==1.3.0